/* DEBUG */
[class*="col-"] {
    /*min-height:100px;*/
    /*background-color: darkorange;
    border: 1px solid #000;*/
}

/* REGOLE GENERALI */

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

p, button {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /*background-color: goldenrod;*/
}


body {
    /*debug*/
    /*background-color: grey;*/
    /*font-family: 'Montserrat', sans-serif;*/
}


section {
    /*debug*/
    /*background-color: yellowgreen;*/
}


.contenitore {
    width: 80%;
    margin: 0 auto;
    /*debug*/
    /*background-color: yellow;*/
}

.row {
    text-align: center;
    /*debug*/
    /*background-color: yellowgreen;*/
}

.portfolio, .about, .form-contatti {
    padding: 50px 0;
}

/* regole HEADER*/

header {
    background-color: #3c5567;
}

.logo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
    text-align: left;
    padding: 20px 0;

}

#nav-box {
    text-align: right;
    padding: 30px 0;
}

#nav-box li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#nav-box li a {
    text-decoration: none;
    color: white;
}


/* regole MAIN */

.box-image, .box-image .jumbotron, .about {
    background-color: #1abc9c;
}

.box-image img {
    width: 250px;
    /*height: auto;*/
}

.box-image h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.box-image p {
    font-size: 24px;
    font-weight: 400;
    color: white;
}


/* regole PORTFOLIO */

.portfolio h2 {
    font-size: 48px;
    font-weight: bold;
    color: #3c5567;
    padding-top: 50px;
}

.portfolio p {
    font-size: 24px;
    font-weight: 400;
    color: #3c5567;
}

.immagini-port {
    margin-bottom: 25px;
}

.immagini-port img {
    width: 100%;
    border-radius: 10px;
}




/* regole ABOUT */


.about h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.about p {
    font-size: 24px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
}

.about .text-1 p, .about .text-2 p {
    font-size: 20px;
    text-align: left;
}

.box-btn-1 button{
    background-color: #1abc9c;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

/* regole FORM CONTATTI */

.form-contatti h2 {
    font-size: 48px;
    font-weight: bold;
    color: #3c5567;
    padding-top: 50px;
}

.form-contatti p {
    font-size: 24px;
    font-weight: 400;
    color: #3c5567;
}

/*.contact-box {
    padding-bottom: 30px;
}*/

.contact-box p {
    text-align: left;
    font-size: 23px;
    font-weight: 400;
    color: #6c757d;
}

.box-btn-2 {
    text-align: left;
    padding-bottom: 50px;
}

.box-btn-2 button {
    background-color: #1abc9c;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    border-radius: 10px;
    border: 0;
}

.text-space p {
    padding-bottom: 150px;
}




/* regole FOOTER */

footer {
    color: white;
}

footer h2 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
}
footer p {
    font-size: 20px;
    font-weight: 400;
    padding: 0 40px;
}

footer p:last-child {
    font-size: 12px;
}

.contatti {
    background-color: #3c5567;
}

.contatti span {
    color: #1abc9c;
}

.contatti i {
    font-size: 45px;
}

.contatti .row div {
    padding-bottom: 20px;
}

.copyright {
    background-color: #2c3e50;
    padding: 20px 0;
}

.copyright p {
    padding-top: 10px;
}
/* MEDIA QUERY */

/* REGOLE DESKTOP */

@media all and (min-width: 1170px) {


}

/* REGOLE TABLET */

@media all and (min-width: 992px) {

}

/* REGOLE MOBILE */

@media all and (max-width: 767px) {


}
