/* DEBUG */
[class*="col-"] {
    min-height:100px;
    background-color: red;
    border: 1px solid #000;
}

/* REGOLE GENERALI */


/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body {
    /*debug*/
    /*background-color: grey;*/
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/*.contenitore {
    width: 80%;
    margin: 0 auto;
    background-color: orangered;
}*/

.row {
    /*debug*/
    text-align: center;
    background-color: yellowgreen;
}


/* MEDIA QUERY */

/* REGOLE DESKTOP */

@media all and (min-width: 1170px) {


}

/* REGOLE TABLET */

@media all and (min-width: 992px) {

}

/* REGOLE MOBILE */

@media all and (max-width: 767px) {


}
